<!DOCTYPE html>
<html>

<head>
    <title>
        xxx
    </title>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Logo</h1>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="./formulario-get">Fomulario get</a>
        </li>
        <li>
            <a href="./formulario">Formulario Post</a>
        </li>
        <li>
            <a href="./productos">Productos</a>
        </li>
        <li>
            <a href="./productos/create">Crear Producto</a>
        </li>
    </ul>