<%- include('header') -%>
    <h1>
        <h1>¿Quien tiene mas participacion en el hogar?</h1>

    </h1>
    <h2>Resultado de hombres:
        <%=hombres%>
    </h2>
    <h2>Resultado de mujeres:
        <%=mujeres%>
    </h2>
    <%- include('footer') -%>